/* <---  START COMMON ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


main{
    font-family: Arial, Helvetica, sans-serif;
}
    
/* <---  END COMMON ---> */




/* XS */
    /* <--- START MAIN ---> */
    main{
        width: 100%;
        display: flex;
    }

    /*  Start Column Menu */
    main .column-menu{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    main .column-menu img{
        width: 25px;
        margin: 5px;
    }
     main .column-menu .search, main .column-menu .library, main .column-menu .download{
        filter: invert(71%) sepia(13%) saturate(12%) hue-rotate(357deg) brightness(89%) contrast(94%);
     }

     main .column-menu .download{
         text-align: center;
     }

     main .column-menu .download img{
         width: 15px;
    }

     main .column-menu .user-profile img{
         background-color: gray;
         border-radius: 50%;
     }
    

    #logo-spotify{
       display: none;
    }
    main .column-menu span, main .column-menu .playlist{
        display: none;
    }


    /*  End Column Menu */

    /*  Start Column Nav */
    main .column-nav{

        /* **** da eliminare **** */
        flex-grow: 2;
        /* ********************** */


        background-color: #151921;
    }

    main .column-nav .upgrade{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: end;
        align-items: center;
    }

    main .column-nav .upgrade .btn{
        display: inline;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        border-radius:  2em;
        padding: 10px 30px 10px 30px;
        font-size: 10px;
        font-weight: bold;
        margin-right: 20px;
    }

    /*  End Column Nav */

    /* <--- END MAIN ---> */

    
    /* <--- START FOOTER ---> */
    footer{
        width: 100%;
        height: 100px;
        background-color: #282828;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .left, footer .right{
        flex-grow: 1;
    }

    footer .central{
        flex-grow: 2;
    }
    /* <--- END FOOTER ---> */



/* S */
@media screen and (min-width: 576px) {
    /* <--- START MAIN ---> */

    main .column-menu{
        color: #a3a3a3;
        font-size: 10px;
        font-weight: bold;
    }

    #icon-spotify{
        display: none;
    }

    #logo-spotify{
        display: inline-block;
        width: 120px;
        margin: 20px 50px 20px 5px;
    }

    main .column-menu .home, main .column-menu .search, main .column-menu .library,main .column-menu .download, main .column-menu .user-profile{
        display: flex;
        align-items: center;
    }

    main .column-menu span, main .column-menu .playlist{
        display: inline;
    }
    /* <--- END MAIN ---> */

    /* <--- START FOOTER ---> */
    /* <--- END FOOTER ---> */
}

/* M */
@media screen and (min-width: 768px) {
    /* <--- START MAIN ---> */
    /* <--- END MAIN ---> */

    /* <--- START FOOTER ---> */
    /* <--- END FOOTER ---> */
}

/* L */
@media screen and (min-width: 992px) {
    /* <--- START MAIN ---> */
    /* <--- END MAIN ---> */

    /* <--- START FOOTER ---> */
    /* <--- END FOOTER ---> */
}



.debug{ 
    background-color: lightgreen;
}

.debug main{
    height: 1080px;
}

main .column-nav .upgrade{
    height: 100px;
}

.debug footer .left, .debug footer .right{
    background-color: coral;
    height: 80px;
}

.debug footer .central{
    background-color: cornflowerblue;
    height: 80px;
}

.debug main .column-menu img{
    border: 1px solid red;
}

.debug .logo, .debug .home, .debug .search, .debug .library, .debug .playlist, .debug .download, .debug .user-profile {
    border: 1px solid tomato;
}