/* <---  START COMMON ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


main{
    font-family: Arial, Helvetica, sans-serif;
}

.small-gray{
    color: gray;
    font-size: 9px;
    font: bold;
}

/* <---  END COMMON ---> */




/* XS */
    /* <--- START MAIN ---> */
    main{
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
    }

    /*  Start Column Menu */
    main .column-menu{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    main .column-menu img{
        width: 25px;
        margin: 5px;
    }
     main .column-menu .search, main .column-menu .library, main .column-menu .download{
        filter: invert(71%) sepia(13%) saturate(12%) hue-rotate(357deg) brightness(89%) contrast(94%);
     }

     main .column-menu .download{
         text-align: center;
     }

     main .column-menu .download img{
         width: 15px;
    }

     main .column-menu .user-profile img{
         background-color: gray;
         border-radius: 50%;
     }


    #logo-spotify{
       display: none;
    }
    main .column-menu span, main .column-menu .playlist{
        display: none;
    }


    /*  End Column Menu */

    /*  Start Column Nav */
    .column-nav{

        /* **** da eliminare **** */
        flex-grow: 2;
        /* ********************** */


        background-color: #151921;
    }

    .column-nav .upgrade{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .column-nav .upgrade .btn{
        display: inline;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        border-radius:  2em;
        padding: 10px 30px 10px 30px;
        font-size: 12px;
        font-weight: bold;
        margin-right: 20px;
    }

    .column-nav .nav-search-music nav{
        text-transform: uppercase;
        margin: 20px 20px 0px 20px;
    }

    .column-nav .nav-search-music nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .column-nav .nav-search-music nav ul li{
        list-style: none;
        margin-right: 15px;
        margin-bottom: 30px;
    }

    .column-nav .nav-search-music nav ul li:first-child{
        border-bottom: 2px solid greenyellow
    }

    .column-nav h3{
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    .column-nav .title-box{
        width: 120px;
        text-align: center;
        color: white;
        font-size: 11px;
        font-weight: bold;
        
    }

    .column-nav .album-box img{
        width: 120px;
    }

    .column-nav .artist-box img{
        width: 150px;
        border-radius: 50%;
    }

    .column-nav .recently-played{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .column-nav .created-for{
        display: flex;
        flex-wrap: wrap;
    }

    .column-nav .most-popular-artists{
        display: flex;
        flex-wrap: wrap;
    }

    .album-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*  End Column Nav */

    /* <--- END MAIN ---> */


    /* <--- START FOOTER ---> */
    footer{
        width: 100%;
        height: 100px;
        background-color: #282828;
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 3;
        justify-content: space-around;
        align-items: center;
    }

    footer .left, footer .right{
        flex-grow: 1;
    }

    footer .central{
        flex-grow: 2;
    }
    /* <--- END FOOTER ---> */



/* S */
@media screen and (min-width: 576px) {
    /* <--- START MAIN ---> */

    #icon-spotify{
        display: none;
    }

    #logo-spotify{
        display: inline-block;
        width: 120px;
        margin: 20px 50px 20px 15px;
    }

    main .column-menu .home, main .column-menu .search, main .column-menu .library,main .column-menu .download, main .column-menu .user-profile{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    main .column-menu .home{
        color: white;
        border-left: 5px solid #a6db4f;
    }

    main .column-menu span, main .column-menu .playlist{
        display: inline-block;
    }

    main .playlist{
        width: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    main .playlist h3{
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }

    #plus{
        background-color: gray;
        color: black;
        font-size: 20px;
        padding: 1px 6px ;
        margin-right: 10px;
    }
    main .create-playlist{
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        margin-top: 15px;
    }

    main .playlist nav{
        overflow: scroll;
    }
    main .playlist ul li{
        list-style: none;
        margin-top: 15px;
    }

    /* <--- END MAIN ---> */

    /* <--- START FOOTER ---> */
    /* <--- END FOOTER ---> */
}

/* M */
@media screen and (min-width: 768px) {
    /* <--- START MAIN ---> */
    /* <--- END MAIN ---> */

    /* <--- START FOOTER ---> */
    /* <--- END FOOTER ---> */
}

/* L */
@media screen and (min-width: 992px) {
    /* <--- START MAIN ---> */
    /* <--- END MAIN ---> */

    /* <--- START FOOTER ---> */
    /* <--- END FOOTER ---> */
}



/* .debug{
    background-color: lightgreen;
} */

.debug main{
    height: 100%;
}

main .column-nav .upgrade{
    height: 100px;
}

.debug footer .left, .debug footer .right{
    background-color: coral;
    height: 80px;
}

.debug footer .central{
    background-color: cornflowerblue;
    height: 80px;
}

.debug main .column-menu img{
    /* border: 1px solid red; */
}

.debug .logo, .debug .home, .debug .search, .debug .library, .debug .playlist, .debug .download, .debug .user-profile {
    /* border: 1px solid tomato; */
}