/* <---  START COMMON ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.small-gray{
    color: gray;
    font-size: 10px;
    font: bold;
}
/* <---  END COMMON ---> */




/* XS */
    /* <--- START MAIN ---> */
    main{
        width: 100%;
        height: calc(100vh - 100px);
        overflow: hidden;
        display: flex;
    }
    .column-menu a:hover{
        color: white;
    }
    /*  Start Column Menu */
    /* ----> Altezze e posizionamenti colonna menu */
        .column-menu{
            width: 50px;
            height: 100%;
            min-height: 400px;
            background-color: black;
            display: flex;
            flex-direction: column;
        }
        .column-menu-up {
            height: calc(100% - 80px);
            margin-top: 10px;
            justify-content: flex-start;
        }
        .column-menu-down {
            height: 80px;
            justify-content: flex-end;
        }
        .column-menu-down, .column-menu-up{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    /* ----> Grandezza immagini e colori Colonna menu*/
        .column-menu img{
            width: 25px;
        }
        .column-menu .download img{
            width: 15px;
        }
        .column-menu .search, .column-menu .library, .column-menu .download{
            filter: invert(71%) sepia(13%) saturate(12%) hue-rotate(357deg) brightness(89%) contrast(94%);
        }
        .column-menu .user-profile img{
            background-color: gray;
            border-radius: 50%;
        }

        .column-menu a{
           text-decoration: none;
        }
        .column-menu a:hover, .column-menu a:hover span {
            filter: none;
            color: white;
        }
        .create-playlist:hover #plus{
            background-color: white;
        }

        .download:hover{
            filter: none;
            color: white;
        }
        .download a{
            color: gray;
        }
    /* ----> Oggetti che devono sparire nella versione XS*/
        #logo-spotify{
        display: none;
        }
        .column-menu span, .column-menu .playlist{
        display: none;
        }
    /*  End Column Menu */

    /*  Start Column Nav */
    .column-nav{
        width: calc(100% - 50px);
        height: 100%;
        background-color: #151921;
        overflow-y: scroll ;
    }
    /* ---> Pare superiore con bottone upgrade */
        .column-nav .upgrade{
            width: calc(100% - 50px);
            height: 100px;
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            right: 0;
            z-index: 999;
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .column-nav .upgrade .btn a{
            text-transform: uppercase;
            color: white;
            border: 1px solid white;
            border-radius:  2em;
            padding: 10px 30px 10px 30px;
            font-size: 12px;
            font-weight: bold;
            margin-right: 40px;
            text-decoration: none;
        }
        .btn:hover{
            transform: scale(1.2);
        }
    /* ---> Container per sezione che scorre */
        .scroll{
            margin-top: 100px;
            padding: 20px;
        }
    /* ---> Barra di navigazione ricerca Musica */
        .nav-search-music nav{
            text-transform: uppercase;
        }
        .nav-search-music nav ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .nav-search-music nav ul li{
            list-style: none;
            margin-right: 15px;
            margin-bottom: 30px;
        }
        .nav-search-music nav ul li:first-child{
            border-bottom: 2px solid greenyellow
        }

        .nav-search-music nav ul li a {
            text-decoration: none;
        }

        .nav-search-music nav ul li a:hover {
           color: white;
        }
        /* --->Playlist */
        .title-playlist{
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin:20px 0;
        }
        .recently-played, .created-for, .most-popular-artists{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    /* --->Immagini Plaulist */
        .column-nav .album-box img{
            width: 150px;
        }
        .column-nav .artist-box img{
            width: 150px;
            border-radius: 50%;
        }
    /* --->Titolo Immagini */
        .column-nav .title-box{
            width: 120px;
            text-align: center;
            color: white;
            font-size: 11px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    /* ---> Posionamento scritte e immagini Box */
        .album-box, .artist-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 10px;
        }
        .album-box span, .artist-box span{
            margin-bottom: 20px;
        }
    /* ---> Layover Album */
    .layover{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .layover i{
        position: absolute;
        color: white;
        font-size: 50px;
    }
    .layover-black{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .layover-black, .layover i{
        display: none;
    }
    .album-box:hover .layover-black, .album-box:hover .layover i{
        display: flex ;
    }
    /*  End Column Nav */
    /* <--- END MAIN ---> */


    /* <--- START FOOTER ---> */
    footer{
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;
        z-index: 3;
        background-color: #282828;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* ---> Footer Left */

    .left{
        display: flex;
        align-items: center;
        width: 25%;
        max-width: 200px;
        height: 100%;
    }
    .left img{
        width: 30px;
        margin: 0px 5px 0px 5px ;
    }
    .left a{
        color: gray;
        text-decoration: none;
    }
    .left a:hover{
        color: white;
    }
    #track-name{
        font-size: 10px;
    }
    .left a:hover{
        color: white;
    }
    #track-name:hover{
        text-decoration: underline;
    }
    .song-in-play, .reaction-song {
        color: gray;
        display: flex;
    }
    .song-in-play{
        flex-direction: column;
        width: 50%;
    }
    .reaction-song{
        flex-wrap: wrap;
    }
    .fa-heart{
        margin-right: 10px;
    }
    .left .song-in-play span{
        font-weight: bold;
        font-size: 8px;
    }
    #title-song-play{
        color: white;
        font-size: 10px;
    }
    /* ---> Footer Central */
    .central{
        width: 50%;
        max-width: 350px;
        padding: 20px;
    }
    .central .btn-song, .time-song, .right{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-song{
        margin-bottom: 15px;
    }
    .btn-song a{
        margin-right: 20px;
        text-decoration: none;
        color: white;
    }
    .fa-play-circle{
        font-size: 30px;
    }

    .btn-song a .fa-play-circle:hover{
        transform: scale(1.2);
    }

    .minutes {
        font-weight: bold;
        font-size: 10px;
    }
    .time-song .time , .turn-up{
        background-color: gray;
        margin: 0px 5px;
        height: 3px;
        width: 100%;
        border-radius: 5px;
    }

    .time-white, .turn-up-white{
        background-color: white;
        height: 3px;
        width: 30%;
        border-radius: 5px;
        position: relative;
    }
    a .turn-up{
        min-width: 60px;
    }
    .circle-time-volume{
        position: absolute;
        right: 0;
        bottom: -3px;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        background-color:white;
        display: none;
    }
    a .time-white:hover, a .turn-up-white:hover{
        background-color: greenyellow;
    }
    a .time-white:hover .circle-time-volume, a .turn-up-white:hover .circle-time-volume{
        display: inline;
    }
    /* ---> Footer Right */
    .right{
        width: 25%;
        max-width: 200px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right i{
        margin-right: 10px;
    }
    /* <--- END FOOTER ---> */


/* S */
@media screen and (min-width: 576px) {
    /* <--- START MAIN ---> */
      /*  Start Column Menu */
        .column-menu{
            width: 200px;
        }
        .column-menu-down, .column-menu-up {
            align-items: flex-start;
        }

        #icon-spotify{
            display: none;
        }
        #logo-spotify{
            display: inline-block;
            width: 120px;
            padding-left: 10px;
            margin-bottom: 15px;
        }
        .column-menu .home, .column-menu .search, .column-menu .library{
            display: flex;
            align-items: center;
            padding-left: 10px;
            margin-bottom: 5px;

        }
        .column-menu .home{
            color: white;
            border-left: 2px solid greenyellow;
            font-size: 9px;
            font-weight: bold;
        }
        .column-menu span, .column-menu .playlist{
            display: inline-block;
        }
        .column-menu .playlist{
            width: 100%;
            height: 50%;
            padding-left: 10px;
            margin-top: 20px;
        }
        .column-menu .playlist h3{
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            font-size: 12px;
        }
        .column-menu .playlist span.small-gray{
            font-size: 12px;
        }
        .column-menu #plus{
            background-color: gray;
            color: black;
            font-size: 20px;
            padding: 1px 6px ;
            margin-right: 10px;
        }
        .column-menu .create-playlist{
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            margin-top: 15px;
        }
        .column-menu .playlist-scroll{
            margin-top: 10px;
            overflow-y: scroll;
            height: 70%;
        }
        .column-menu .playlist-scroll ul li{
            list-style: none;
            margin-top: 15px;
        }
        .column-menu .download, .column-menu .user-profile{
            display: flex;
            align-items: center;
        }
        .column-menu .download{
            margin-bottom: 5px;
            padding-left: 10px;
        }
        .column-menu .user-profile{
            margin-left:10px;
            margin-bottom: 5px;
            padding-top: 5px;
            border-top: 1px solid gray;
        }
        .column-menu .user-profile span{
            color: white;
            font-weight: bold;
            font-size: 12px;
            margin-left: 5px;
        }

        .column-menu .home span, .column-menu .search span, .column-menu .library span, .column-menu .download span{
            margin-left: 5px;
        }
        /*  End Column Menu */

        /*  Start Column Nav */
        .column-nav .upgrade{
            width: calc(100% - 150px);
        }
        /*  End Column Nav */
    /* <--- END MAIN ---> */
}
